{% extends "base.html" %}
{% block title %}Post Detail{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/posts.css') }}">
{% endblock %}
{% block content %}
<div class="card p-3">
    <h1>{{post["title"]}}</h1>
    <img class="imageC" src="{{ url_for('.static', filename='img/mercedes.jpg') }}">
    <p><strong>ID:</strong> {{post["id"]}}</p>
    <p><strong>Tags:</strong> {% for tag in post["tags"] %}{{tag["name"]}}{% if not loop.last %}, {% endif
        %}{% endfor %}</p>
    <p><strong>Category:</strong> {{post["category"]}}</p>
    <p><strong>Published:</strong> {{post["posted"]}}</p>
    <p><strong>Author:</strong> {{post["author"]["username"]}}</p>
    <p><strong>Status:</strong> {% if post["is_active"] %}Active{% else %}Inactive{% endif %}</p>
    <div class="post-content">
        <p><strong>Content:</strong> {{post["content"]}}</p>
    </div>
    <form action="{{ url_for('.delete_post', id=post.id) }}" method="POST">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    <br>
    <form action="{{ url_for('.edit_post', id=post.id) }}" method="POST">
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>
    <a href="{{ url_for('posts.get_posts') }}" class="btn btn-secondary mt-3">Back to Posts</a>
</div>
</div>
{% endblock %}