{% extends "base.html" %}
{% block title %}Post Detail{% endblock %}
{% block content %}
<div class="card p-3">
    <h1>{{post["title"]}}</h1>
    <img class="imageC" src="{{ url_for('static', filename='img/mercedes.jpg') }}">
    <p><strong>ID:</strong> {{post["id"]}}</p>
    <p><strong>Category:</strong> {{post["category"]}}</p>
    <p><strong>Published:</strong> {{post["publish_date"]}}</p>
    <p><strong>Author:</strong> {{post["author"]}}</p>
    <p><strong>Status:</strong> {% if post["is_active"] %}Active{% else %}Inactive{% endif %}</p>
    <div class="post-content">
        <p><strong>Content:</strong> {{post["content"]}}</p>
    </div>
    <a href="{{ url_for('posts.get_posts') }}" class="btn btn-secondary mt-3">Back to Posts</a>
</div>
</div>
{% endblock %}