<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


    {% block css %}{% endblock %}

</head>

<body>
    <header class="bg-dark text-white py-3">
        <div class="container">
            <h1>Flask Application</h1>
        </div>
        {% block header %}
        {% include 'nav.html' %}
        {% endblock %}
    </header>
    {% with msg = get_flashed_messages(with_categories=True) %}
    {% if msg %}
    {% for category, message in msg %}
    <div class="alert alert-{{ category }} alert-dismissible show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <main>
        <div class="container mt-4">
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer>
        {% block footer %}
        {% include 'footer.html' %}
        {% endblock %}
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>